* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  overflow: hidden;
}
nav {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 4px 1px grey;
  position: relative;
  animation: navloader 300ms ease-in 400ms;
  top: 0;
  background-color: white;
  margin-bottom: 20px;
  position: fixed;
  z-index: 1;
}

@keyframes navloader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translate(0);
  }
}
nav .logo {
  display: flex;
  align-items: center;
  width: 70px;
}
nav img {
  height: 60px;
  width: 60px;
}
nav h2 {
  font-size: 18px;
}
nav a{
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  width: 0 auto;
  pad: 0;
}
nav ul li {
  list-style-type: none;
  position: relative;
  padding: 10px 15px;
  animation-name: navlink;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-delay: 500ms;
}

@keyframes navlink {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
nav ul li:hover {
  border-bottom: 2px solid rgb(236, 102, 225);
  background-color: rgb(250, 246, 250);
}
nav ul li a {
  color: rgb(52, 79, 230);
  text-decoration: none;
  padding: 5px;
}
nav ul li ul {
  position: absolute;
  background: #f0b3f5;
  top: 35px;
  display: block;
  left: 0;
  width: 150px;
  visibility: hidden;
}
nav ul li:hover ul {
  visibility: visible;
}
.burger {
  /* background-color: black; */
  padding: 10px;
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  border-radius: 5px;
}

/* nav bar ends here */

/* form begins here */
.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-element {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
}
.form-element li {
  list-style-type: none;
  padding: 5px;
  text-align: center;
}

.input-element input[type="text"] {
  margin: 15px;
  width: 300px;
  padding: 5px;
  background-color: gainsboro;
  border: none;
}
.user {
  margin: 15px;
  width: 300px;
  padding: 5px;
  background-color: gainsboro;
  border: grey;
}
.input-element input[type="password"] {
  margin: 15px;
  width: 300px;
  padding: 5px;
  background-color: gainsboro;
  border: none;
}

#error{
  color: red;
}
.input-element p {
  color: grey;
  font-size: 12px;
  margin: 5px 15px;
}
.input-element p a {
  text-decoration: none;
  color: grey;
}
.form-label h2 {
  margin: 10px;
}
.buttonpa {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  
}
.form .myform button {
  color: white;
  padding: 10px 30px;
  border: none;
  background-color: blue;
  font-weight: 600;
  cursor: pointer;
}
.image-class {
  width: 400px;
  height: 400px;
  opacity: 0.3;
}
.myform {
  box-shadow: 2px 2px 4px 1px grey;
  height: auto;
  width: auto;
  padding: 40px;
}

/* this is for the sign in form */
.detail {
  width: 100%;
  text-align: center;
}
.detail .name input[type="text"] {
  margin: 7px;
  width: 140px;
  background-color: gainsboro;
  border: none;
  padding: 5px;
}

@media (min-width: 769px) {
  nav {
    display: flex;
    /* flex-direction: row; */
  }
  nav ul {
    visibility: visible;
    display: flex;
  }
}
@media (max-width: 850px) {
  .image-class {
    display: none;
  }
}
@media (max-width: 768px) {
  nav {
    justify-content: space-between;
  }
  .burger {
    display: block;
    cursor: pointer;
    z-index: 1;
  }
}
@media (max-width: 992px) {
  .burger {
    /* background-color: black; */
    padding: 10px;
    display: block;
    cursor: pointer;
  }
  nav ul {
    position: absolute;
    display: block;
    right: 0;
    top: 100px;
    background-color: white;
    width: 50%;
    display: none;
    height: 96vh;
    /* transition: 2s linear; */
  }
  nav ul li {
    display: block;
  }
  nav ul li ul {
    z-index: 1;
    width: 100%;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72px;
    right: 0;
    background-color: white;
    width: 50%;
    height: 92vh;
    transition: all 4s ease-in;
    display: none;
  }
  .nav-links li a {
    color: blue;
  }
  .burger {
    display: block;
  }
}
.errorclass  {
  border: 2px solid red;
}